	<!-- Start of Queued Javascript -->
	{{#scripts}}
		{{#raw}}
			{{{ . }}}
		{{/raw}}
		{{#script}}
		<script type="text/javascript">
			{{script}}
		</script>
		{{/script}}
		{{#url}}
			<script type="text/javascript" src="{{url}}"></script>
		{{/url}}
	{{/scripts}}
	<!-- End of Queued Javascript -->