	<!-- Start of Queued Styles -->
	{{#styles}}
		{{#url}}
		<link type="text/css" rel="stylesheet" href="{{url}}" />
		{{/url}}
		{{#style}}
		<style>
			{{style}}
		</style>
		{{/style}}
	{{/styles}}
	<!-- End of Queued Styles -->